{% extends 'base/base.html' %}
{% load staticfiles %}
{% block title %}
    <title>天天生鲜-商品详情</title>
{% endblock %}

{% block navbar_con %}
    <div class="navbar_con">
        <div class="navbar clearfix">
            <div class="subnav_con fl">
                <h1>全部商品分类</h1>
                <span></span>
                <ul class="subnav">
                    {% for type in types %}
                        <li><a href="{% url 'goods:list' type.id 1 %}" class="{{ type.logo }}">{{ type.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <ul class="navlist fl">
                <li><a href="{% url 'goods:index' %}">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="breadcrumb">
        <a href="#">全部分类</a>
        <span>></span>
        <a href="#">{{ goods_sku.type.name }}</a>
        <span>></span>
        <a href="#">商品详情</a>
    </div>

    <div class="goods_detail_con clearfix">
        <div class="goods_detail_pic fl"><img src="{{ goods_sku.image.url }}" ></div>

        <div class="goods_detail_list fr">
            <h3>{{ goods_sku.name }}</h3>
            <p>{{ goods_sku.desc }}</p>
            <div class="prize_bar">
                <span class="show_pirze">¥<em>{{ goods_sku.price }}</em></span>
                <span class="show_unit">单  位：{{ goods_sku.unite }}</span>
            </div>
            <div class="goods_num clearfix">
                <div class="num_name fl">数 量：</div>
                <div class="num_add fl">
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="add fr">+</a>
                    <a href="javascript:;" class="minus fr">-</a>
                </div>
            </div>
            <div>
                <p>其他规格:</p>
                <ul>
                    {% for goods_sku in same_spu_goods %}
                        <li><a href="{% url 'goods:detail' goods_sku.id %}">{{ goods_sku.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="total">总价：<em>16.80元</em></div>
            <div class="operate_btn">
                <a href="javascript:;" class="buy_btn">立即购买</a>
                {% csrf_token %}
                <a href="javascript:;" goods_id="{{ goods_sku.id }}" class="add_cart" id="add_cart">加入购物车</a>
            </div>
        </div>
    </div>

    <div class="main_wrap clearfix">
        <div class="l_wrap fl clearfix">
            <div class="new_goods">
                <h3>新品推荐</h3>
                <ul>
                    {% for obj in new_goods %}
                        <li>
                            <a href="{% url 'goods:detail' obj.id %}"><img src="{{ obj.image.url }}"></a>
                            <h4><a href="{% url 'goods:detail' obj.id %}">{{ obj.name }}</a></h4>
                            <div class="prize">￥{{ obj.price }}</div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="r_wrap fr clearfix">
            <ul class="detail_tab clearfix">
				<li id='tag_detail' class="active">商品介绍</li>
				<li id="tag_comment">评论</li>
            </ul>

            <div class="tab_content" id="tab_detail">
                <dl>
                    <dt>商品详情：</dt>
                    <dd>{{ goods_sku.goods.detail|safe }}</dd>
                </dl>
            </div>
            <div class="tab_content" id="tab_comment" style="display: none">
				<dl>
                    {% for order in goods_orders %}
					<dt>评论时间：{{ order.update_time }}&nbsp;&nbsp;用户名:{{ order.order.user.username }}</dt>
                    <dd>评论内容:{{ order.comment }}</dd>
                    {% endfor %}
				</dl>
			</div>
        </div>
    </div>
{% endblock %}

{% block other %}
    <div class="add_jump"></div>
{% endblock %}

{% block bottom-files %}
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript">
        $('#tag_detail').click(function () {
            $('#tag_comment').removeClass('active')
            $(this).addClass('active')
            $('#tab_detail').show()
            $('#tab_comment').hide()
        })

        $('#tag_comment').click(function () {
            $('#tag_detail').removeClass('active')
            $(this).addClass('active')
            $('#tab_detail').hide()
            $('#tab_comment').show()
        })
        update_goods_amount()
        //计算商品总价格
        function update_goods_amount(){
            //获取商品数量与单价
            var count = $('.num_show').val();
            var price = $('.show_pirze').children('em').text()
            //计算商品的总价
            count = parseInt(count);
            price = parseFloat(price);
            var amount = price*count;
            //设置商品的总价
            $('.total').children('em').text(amount.toFixed(2)+'元')
        }
        //增加商品的数量
        $('.add').click(function(){
            //获取当前商品数量
            var count = $('.num_show').val();
            //商品数量+1
            count = parseInt(count)+1;
            //重新设置商品数量
            $('.num_show').val(count);
            //更新商品总价
            update_goods_amount();
        })

        //减少商品的数量
        $('.minus').click(function(){
            //获取当前商品数量
            var count = $('.num_show').val();

            if(count>1){
                //商品数量-1
                count = parseInt(count)-1;
                //重新设置商品数量
                $('.num_show').val(count);
            }
            //更新商品总价
            update_goods_amount();
        })
        //手动输入商品的数量
        $('.num_show').blur(function(){
            //获取商品数量
            var count = $(this).val();
            //检查count是否合法
            if(isNaN(count)||parseInt(count)<=0){
                count = 1;
            }
            //重新设置商品的数量
            $(this).val(parseInt(count))
            //更新商品的价格
            update_goods_amount();
        })

        //加入购车车
        var $add_x = $('#add_cart').offset().top;
        var $add_y = $('#add_cart').offset().left;

        var $to_x = $('#show_count').offset().top;
        var $to_y = $('#show_count').offset().left;

        $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'})

        $('.add_cart').click(function(){
            var goods_id = $('.add_cart').attr('goods_id');
            var goods_num = $('.num_show').val();
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val()
            var params = {'goods_id':goods_id,'goods_num':goods_num,'csrfmiddlewaretoken':csrf_token};
            $.post('/cart/add',params,function(data){
                //console.log(data);
                //console.log(data.total_count);
                if(data.res == 5) {
                    $(".add_jump").stop().animate({
                                'left': $to_y + 7,
                                'top': $to_x + 7
                            },
                            "fast", function () {
                                $(".add_jump").fadeOut('fast', function () {
                                    $('#show_count').html(data.total_count);
                                });
                            });
                }else{
                    alert(data.errmsg);
                }
            })
        })

{#        var $add_x = $('#add_cart').offset().top;#}
{#        var $add_y = $('#add_cart').offset().left;#}
{##}
{#        var $to_x = $('#show_count').offset().top;#}
{#        var $to_y = $('#show_count').offset().left;#}
{##}
{#        $(".add_jump").css({'left': $add_y + 80, 'top': $add_x + 10, 'display': 'block'})#}
{#        $('#add_cart').click(function () {#}
{#            $(".add_jump").stop().animate({#}
{#                        'left': $to_y + 7,#}
{#                        'top': $to_x + 7#}
{#                    },#}
{#                    "fast", function () {#}
{#                        $(".add_jump").fadeOut('fast', function () {#}
{#                            $('#show_count').html(2);#}
{#                        });#}
{##}
{#                    });#}
{#        })#}
    </script>
{% endblock %}
